<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" ng-submit="connect(user)">
      <input type="text" id="inputLogin" class="form-control" placeholder="Login Utilisateur" ng-model="user.login" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" ng-model="user.password" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me" ng-model="user.remember"> Garder ma session active
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Connexion</button>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
      Mot de passe oublié ?
    </a>
    <div ng-show="error" class="alert alert-danger" style="text-align: center">
      {{error}}
    </div>
  </div><!-- /card-container -->
</div><!-- /container -->

<footer class="footer">
  <div class="container">
      <p>TxChat | Copyrights 2015</p>
  </div>
</footer>
